In [1]:
import pandas as pd

In [120]:
data = pd.read_csv("AB_NYC_2019.csv")
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [110]:
data.describe()
data.drop(['id','name','host_id','host_name'],axis='columns',inplace=True)

In [111]:
data.describe()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [112]:
data.reviews_per_month.fillna(data.reviews_per_month.mean(),inplace=True)

In [121]:
data['last_review'] = pd.to_datetime(data.last_review).dt.strftime("%Y%m%d")
data.last_review = data.last_review.astype(float)

data.last_review.fillna(data.last_review.mean())

0        2.018102e+07
1        2.019052e+07
2        2.018351e+07
3        2.019070e+07
4        2.018112e+07
             ...
48890    2.018351e+07
48891    2.018351e+07
48892    2.018351e+07
48893    2.018351e+07
48894    2.018351e+07
Name: last_review, Length: 48895, dtype: float64

In [11]:
import matplotlib.pyplot as plt

In [93]:
data.dtypes

neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                       float64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [114]:
def percentile(data):
    mini,maxi = data.quantile([0.001,0.999])
    return (data>=mini) & (data<=maxi)

In [115]:
def histogram(data,col):
    plt.hist(data,bins=15,rwidth=0.8)
    plt.xlabel(col)
    plt.ylabel('count')
    plt.show()

In [125]:
data_percentile = data.copy()
for col in data_percentile:
    if(data_percentile[col].dtype=='object' or ('review' in col)): continue
    print(data_percentile.shape,col)
    data_percentile = data_percentile[percentile(data[col])]
    print(data_percentile.shape)

(48895, 16) id
(48797, 16)
(48797, 16) host_id
(48722, 16)
(48722, 16) latitude
(48625, 16)
(48625, 16) longitude
(48550, 16)
(48550, 16) price
(48457, 16)
(48457, 16) minimum_nights
(48409, 16)
(48409, 16) calculated_host_listings_count
(48409, 16)
(48409, 16) availability_365
(48409, 16)

C:\Users\USER\AppData\Local\Temp/ipykernel_2140/1139103997.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_percentile = data_percentile[percentile(data[col])]
C:\Users\USER\AppData\Local\Temp/ipykernel_2140/1139103997.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_percentile = data_percentile[percentile(data[col])]
C:\Users\USER\AppData\Local\Temp/ipykernel_2140/1139103997.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_percentile = data_percentile[percentile(data[col])]
C:\Users\USER\AppData\Local\Temp/ipykernel_2140/1139103997.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_percentile = data_percentile[percentile(data[col])]
C:\Users\USER\AppData\Local\Temp/ipykernel_2140/1139103997.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_percentile = data_percentile[percentile(data[col])]
C:\Users\USER\AppData\Local\Temp/ipykernel_2140/1139103997.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_percentile = data_percentile[percentile(data[col])]
C:\Users\USER\AppData\Local\Temp/ipykernel_2140/1139103997.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_percentile = data_percentile[percentile(data[col])]

In [86]:
data.shape

(1105, 12)