In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [4]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
df.bedrooms.median()

4.0

In [17]:
df.bedrooms.fillna(df.bedrooms.median(),inplace = True)
df

C:\Users\USER\AppData\Local\Temp/ipykernel_6528/3211937253.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.bedrooms[2]= 3.0

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [15]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [20]:
reg.coef_,reg.intercept_

(array([  119.67905405, 13097.24903475, -4207.28764479]), 256461.14864864905)

In [18]:
reg.predict([[3000,3,40]])

array([486498.55212355])

In [19]:
112.06244194*3000+ 23388.88007794*3+ (-3231.71790863*40)+221323.00186540437

498408.2515740244